body {
  background-color: rgba(150, 200, 93, 0.7);
  box-sizing: border-box;
}

h1 {
  font-family: monospace;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

input,
button {
  border: 1px solid seagreen;
  border-radius: 5px;
}
